/* ================= ATESTADO ================= */

.medical_page_container {
    padding: 50px 60px;
    display: flex;
    justify-content: center;
}

.medical_page_card {
    width: 100%;
    max-width: 1000px;

    background: var(--white);
    border-radius: 16px;

    padding: 40px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.medical_page_title {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 2rem;
    color: var(--red);
}

.medical_page_text {
    font-size: 1.2rem;
    color: var(--gray1);
}

/* INPUTS */

.student_data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input_group label {
    font-weight: 600;
    color: var(--gray1);
}

.input_group input {
    border: 2px solid #ddd;
    border-radius: 12px;

    padding: 16px;
    font-size: 1rem;

    outline: none;
    transition: 0.3s;
}

.input_group input:focus {
    border-color: var(--red);
}

/* CAMERA */

/* ================= CAMERA ================= */

.camera_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.camera_preview {
    width: 100%;
    height: 350px;

    border: 3px dashed #ccc;
    border-radius: 16px;

    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

/* VÍDEO DA CÂMERA */

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
}

/* FOTO CAPTURADA */

#preview {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: none;
}

/* BOTÕES */

.capture_button,
.send_button {
    border: none;
    border-radius: 30px;

    padding: 16px 26px;

    cursor: pointer;

    font-size: 1rem;
    font-weight: 600;

    transition: 0.3s;
}

.capture_button {
    background: var(--red);
    color: var(--white);
}

.send_button {
    background: #1d9d52;
    color: white;
}

.capture_button:hover,
.send_button:hover {
    transform: translateY(-2px);
}

/* BOTÕES */

.capture_button,
.send_button {
    border: none;
    border-radius: 30px;

    padding: 16px 26px;

    cursor: pointer;

    font-size: 1rem;
    font-weight: 600;

    transition: 0.3s;
}

.capture_button {
    background: var(--red);
    color: var(--white);
}

.send_button {
    background: #1d9d52;
    color: white;
}

.capture_button:hover,
.send_button:hover {
    transform: translateY(-2px);
}

/* SELECT */

.input_group select {
    border: 2px solid #ddd;
    border-radius: 12px;

    padding: 16px;

    font-size: 1rem;
    background: var(--white);

    outline: none;
    cursor: pointer;

    transition: 0.3s;
}

.input_group select:focus {
    border-color: var(--red);
}



